.flex { /* ᕙ(`▽´)ᕗ */
    flex: auto;
}

.add-button {
    align-self: center;
    margin: 12px;
}

.add-button:hover {
    cursor: pointer;
}

.delete-icon {
    margin-right: 12px;
    display: none !important;
}

.delete-icon:hover {
    cursor: pointer;
}

.room:hover .delete-icon {
    display: block !important;
}


