.chat-messages {
    height: 300px;
    justify-content: flex-end;
    overflow: hidden;
}

.user-input {
    margin-top: 20px;
}

.send-icon {
    height: 36px;
    width: 36px;
    margin: 5px;
    color: #3b4d65;
    cursor: pointer;
}

.user-card {
    padding-bottom: 8px !important;
    font-size: large;
    color: #3b4d65;
}

.username {
    padding-left: 8px;
}